* {
  box-sizing: border-box;
}

body {
  background: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 0;
}
.dashboard-header {
  background: hsl(235, 46%, 20%);
  border-radius: 15px;
  width: 88%;
}
.dashboard-header-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  background: hsl(246, 80%, 60%);
  padding: 2rem;
  border-radius: 15px;
}
.dashboard-header-profile__imagem {
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  background-image: url("/assets/img/image-pedro.png");
  background-position: center;
  background-size: cover;
}
.dashboard-header-profile__text {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.5rem;
}
.dashboard-header-profile__text span {
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  font-weight: 400;
}
.dashboard-header-profile__text h2 {
  font-size: 24px;
  font-weight: 300;
}
.dashboard-header-periods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  padding: 1.5rem 0;
}
.dashboard-header-periods .trigger-input {
  display: none;
}
.dashboard-header-periods .trigger-input:checked + .trigger-label {
  color: #FFFFFF;
}
.dashboard-header-periods .trigger-label {
  color: hsl(235, 45%, 61%);
  font-size: 18px;
}
.dashboard-list {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1.5rem;
  width: 88%;
}
.dashboard-list-item {
  border-radius: 15px;
  padding-top: 2.5rem;
}
.dashboard-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.8rem;
  background: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 2rem;
}
.dashboard-list-item-content-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
.dashboard-list-item-content-primary h2 {
  font-size: 18px;
  font-weight: 500;
}
.dashboard-list-item-content-primary i {
  background-image: url("/assets/img/icon-ellipsis.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
}
.dashboard-list-item-content-secundary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboard-list-item-content-secundary h3 {
  font-size: 30px;
  font-weight: 300;
}
.dashboard-list-item-content-secundary span {
  font-size: 15px;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
}
.dashboard-list .work {
  background: hsl(15, 100%, 70%);
  background-image: url("/assets/img/icon-work.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -10%;
  background-size: 20%;
}
.dashboard-list .play {
  background: hsl(195, 74%, 62%);
  background-image: url("/assets/img/icon-play.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -10%;
  background-size: 20%;
}
.dashboard-list .study {
  background: hsl(348, 100%, 68%);
  background-image: url("/assets/img/icon-study.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -10%;
  background-size: 20%;
}
.dashboard-list .exercise {
  background: hsl(145, 58%, 55%);
  background-image: url("/assets/img/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 0%;
  background-size: 20%;
}
.dashboard-list .social {
  background: hsl(264, 64%, 52%);
  background-image: url("/assets/img/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -10%;
  background-size: 20%;
}
.dashboard-list .self-care {
  background: hsl(43, 84%, 65%);
  background-image: url("/assets/img/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -10%;
  background-size: 20%;
}

@media screen and (min-width: 1360px) {
  main {
    padding: 10vh 10vw;
  }
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 0;
    align-items: stretch;
  }
  .dashboard-header {
    grid-column: 1/2;
    grid-row: 1/3;
    width: auto;
  }
  .dashboard-header-profile {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    gap: 5vh;
    padding: 2rem 2rem 6rem;
  }
  .dashboard-header-profile__imagem {
    width: 80px;
    height: 80px;
  }
  .dashboard-header-profile__text {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 1rem;
  }
  .dashboard-header-profile__text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .dashboard-header-periods {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
  }
  .dashboard-header-periods label {
    cursor: pointer;
  }
  .dashboard-header-periods label:hover {
    color: #FFFFFF;
  }
  .dashboard-list {
    grid-column: 2/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
  }
  .dashboard-list-item {
    padding-top: 3rem;
  }
  .dashboard-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 2rem;
  }
  .dashboard-list-item-content:hover {
    background: hsl(236, 39%, 31%);
  }
  .dashboard-list-item-content-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
  }
  .dashboard-list-item-content-primary i {
    cursor: pointer;
  }
  .dashboard-list-item-content-secundary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .dashboard-list-item-content-secundary h3 {
    font-size: 55px;
  }
  .dashboard-list .work {
    grid-column: 1/2;
    grid-row: 1/2;
    background-position-x: 90%;
    background-position-y: -8%;
    background-size: 35%;
  }
  .dashboard-list .play {
    background-position-x: 90%;
    background-position-y: -8%;
    background-size: 35%;
  }
  .dashboard-list .study {
    background-position-x: 90%;
    background-position-y: -8%;
    background-size: 35%;
  }
  .dashboard-list .exercise {
    background-position-x: 90%;
    background-position-y: 0%;
    background-size: 35%;
  }
  .dashboard-list .social {
    background-position-x: 90%;
    background-position-y: -8%;
    background-size: 30%;
  }
  .dashboard-list .self-care {
    grid-column: 3/4;
    grid-row: 2/3;
    background-position-x: 90%;
    background-position-y: -8%;
    background-size: 30%;
  }
}

/*# sourceMappingURL=index.css.map */
